apache-airflow==2.0.2
cryptography==3.4.7
Flask-Bcrypt==0.7.1
mbutil==0.3.0
psycopg2==2.8.6
requests==2.25.1
ckanapi==4.3
fastparquet==0.4.1
pyarrow==2.0.0
pandas==1.2.4
PyYAML==5.4.1
nltk==3.5
geopandas==0.8.1
scikit-learn==0.23.2              
