ckan:
  dev:
    address:
    apikey:
  qa:
    address:
    apikey:
  prod:
    address:
    apikey:

active_env:

notifications:
  wirepusher:
    id:
  slack:
    webhook_url:  https://hooks.slack.com/services/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

credentials:
  rain-gauge-locations-and-precipitation:
